.container-fluid {
    font-family: Roboto, sans-serif;
    margin: auto;
    width: 60%;
    padding-top: 50px;
}

form {
    background-color: #131212;
    padding: 20px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form__title {
    margin-bottom: 40px;
    text-align: center;
}

.form__title h4 {
    margin: 0;
    font-size: 2rem;
}
.form__title span {
    font-size: .8rem;
    font-style: italic;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}